/* #region general */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

:root {
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtitle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --white-background-color: #FFFFFF;
  --modal-background-color: #FCFCFC;

  --list-item-gap: 24px;
  --list-items-amount: 4;
}

ul,
ol {
  list-style-type: none;
    margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region typography */
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.small {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* #endregion */

/* #region common */

.container { 
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
}

.section {
  padding: 120px 0;
}

.section-title {
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
}

.list {
  display: flex;
  align-items: flex-start;
  gap: var(--list-item-gap);
}

.list-item {
  max-width: calc((100% - var(--list-item-gap) * (var(--list-items-amount) - 1)) / var(--list-items-amount));
}

/* #endregion */

/* #region logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--dark-color);
}

.footer-logo .logo-part {
  color: var(--light-color);
}

/* #endregion */

/* #region header */

.page-header {
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* #endregion */

/* #region navigation */

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: var(--dark-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

/* #endregion */

/* #region hero */

.hero {
  background-color: var(--dark-color);
  padding: 188px 0;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-title {
  color: var(--white-background-color);
  text-align: center;
  max-width: 496px;
}

.hero-button {
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  border: none;
  min-width: 169px;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* #endregion */

/* #region advantages */

.advantage-title {
  color: var(--dark-color);
  margin-bottom: 8px;
}

/* #endregion */

/* #region team */

.team-section {
  background-color: var(--light-color);
}

.team-section-title {
  margin-bottom: 72px;
}

.team-item {
  background-color: var(--white-background-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-item-text-wrapper {
  padding: 32px 0px;
  text-align: center;
}

.team-member-title {
  color: var(--dark-color);
  margin-bottom: 8px;
}

/* #endregion */

/* #region portfolio */

.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  --list-items-amount: 3;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item-text-wrapper {
  padding: 32px 16px;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.portfolio-item-title {
  color: var(--dark-color);
  margin-bottom: 8px;
}

/* #endregion */

/* #region footer */

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--light-color);
  max-width: 264px;
}

/* #endregion */
